.reactAnim-enter{
  margin-left: -200px;
  transition-duration: 500ms;
  transform: rotate(0deg);
}

.reactAnim-enter-active{
  margin-left: 0px;
  transform: rotate(360deg);
}

.reactAnim-leave{
  margin-left: 0px;
  opacity: 1;
  transition-duration: 300ms;
}

.reactAnim-leave-active{
  margin-left: 600px;
  opacity: 0;
}